.heroContainer {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 10px;
  line-height: 1.1;
}

.heroTitle {
  font-family: Staatliches;
  text-align: center;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.753);
}

.highlightedTitle{
  font-size: 7rem;
  }

@media(max-width:400px){
  .highlightedTitle{
    font-size: 3.5rem;
  }

  .heroTitle{
    font-size: 2.3rem;
  }

  .heroContainer{
    justify-content: flex-end;
    height: 55vh;
  }
}