.firstWordOfLogo {
  font-size: 2.2rem;
  font-family: Staatliches, Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

.secondWordOfLogo{
  font-size: 3.2rem;
}

@media (max-width:1000px){
  .firstWordOfLogo {
    font-size: 1.2rem;
  }
  
  .secondWordOfLogo{
    font-size: 2rem;
  }
}